.light {
    color: white;
}
.dark {
    color: #222222;
}

.section-content-container {
    height: inherit;
}

.section-content-container p {
    vertical-align: middle;
    font-size: 1.25em;
}

@media only screen and (min-width: 768px) {
    .sideNav {
        padding-left: 17%,
    }
}